* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./Pis/OIP.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.disclaimer {
    font-size: 2em;
    font-weight: 800;
    color: white;
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInUp 1s 3s forwards;
}

.ghost-text {
    font-size: 2em;
    color: white;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s 1s forwards;
}

.button {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s 2s forwards; 
}

.button button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: red;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button button:hover {
    background-color: red;
    color: black;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
